<!DOCTYPE html>
<html lang="zxx">

<head>



    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Css Styles -->
    <link href="{{url_for('static', filename = 'bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'elegant-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'nice-select.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'barfiller.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'slicknav.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'main.css')}}" rel="stylesheet">

     <!-- Icons font CSS-->
    <link href="{{url_for('static', filename = 'vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet">


    <link href="{{url_for('static', filename = 'vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet">

    <!-- Font special for pages-->


    <!-- Vendor CSS-->
    <link href="{{url_for('static', filename = 'vendor/select2/select2.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'vendor/datepicker/daterangepicker.css')}}" rel="stylesheet">

    <link href="{{url_for('static', filename = 'vendor/select2/select2.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'vendor/datepicker/daterangepicker.css')}}" rel="stylesheet">

    <!-- Main CSS-->

     <link href="{{url_for('static', filename = 'main.css')}}" rel="stylesheet" media="all">



    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" />



</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
   
    <div class="offcanvas-menu">
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="static/img/logo1.jpg" alt=""></a>
		</div>     
        <nav class="header__menu">
            <ul class="mobile-menu">
                <li><a href="./">About</a></li>
                <li><a href="./ketoScience.html">Keto science</a></li>
                <li><a href="recipes.html">Recipes</a></li>
                <li><a href="./ketoPlan.html">Keto plan</a></li>
                <li class="active"><a href="./books.html">Books</a></li>
                {% if session['loginSuccess'] == True %}
                <li><a href="./recommendations.html">Recommendations</a></li>
                {% endif %}
                {% if session['loginSuccess'] == True %}
                <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
                {% else %}
                <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
                {% endif %}
                
            </ul>
        </nav>
       
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__logo">
                            <a href="./index.html"><img src="static/img/logo1.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        
                    </div>
                </div>
                <div class="canvas__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="./">About</a></li>
                                <li><a href="./ketoScience.html">Keto science</a></li>
                                <li><a href="recipes.html">Recipes</a></li>
                                <li><a href="./ketoPlan.html">Keto plan</a></li>
                                <li class="active"><a href="./books.html">Books</a></li>
                                {% if session['loginSuccess'] == True %}
                                <li><a href="./recommendations.html">Recommendations</a></li>
                                {% endif %}
                                {% if session['loginSuccess'] == True %}
                                <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
                                {% else %}
                                <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                   
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


    <!-- Breadcrumb Begin -->
    <section class="breadcrumb-option set-bg" data-setbg="static/img/books/books.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
		<div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Must read keto books</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
			
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="static/img/books/theNewAtkins.jpg" alt="">
                                </div>
                                <div class="blog__item__text">
                                    
                                    <h3>New Atkins for a New You: The Ultimate Diet for Shedding Weight and Feeling Great</h3></br>
                                    <p>by Eric C. Westman </p>
                                    <a href="https://www.amazon.com/New-Atkins-You-Ultimate-Shedding/dp/1439190275" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="static/img/books/ketoResetDiet.jpg" alt="">
                                </div>
                                <div class="blog__item__text">
                                   
                                    <h3>The Keto Reset Diet: Reboot Your Metabolism in 21 Days and Burn Fat Forever</h3></br>
                                    <p>by Mark Sisson</p>
                                    <a href="https://www.amazon.com/dp/1524762237?linkCode=ogi" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="static/img/books/ketoClarity.jpg" alt="">
                                </div>
                                <div class="blog__item__text">
                                    
                                    <h3>Keto Clarity: Your Definitive Guide to the Benefits of a Low-Carb, High-Fat Diet</h3></br>
                                    <p>by Jimmy Moore</p>
                                    <a href="https://www.amazon.com/Keto-Clarity-Definitive-Benefits-Low-Carb/dp/1628600071" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="static/img/books/theArtOfKeto.jpg" alt="">
                                </div>
                                <div class="blog__item__text">
                                    
                                    <h3>The Art and Science of Low Carbohydrate Living: An Expert Guide to Making 
									the Life-Saving Benefits of Carbohydrate Restriction Sustainable and Enjoyable</h3></br>
                                    <p>by Stephen D. Phinney</p>
                                    <a href="https://www.amazon.com/Art-Science-Low-Carbohydrate-Living/dp/0983490708" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="static/img/books/theRealMeal.jpg" alt="">
                                </div>
                                <div class="blog__item__text">
                                    
                                    <h3>The Real Meal Revolution: The Radical, Sustainable Approach to Healthy Eating</h3></br>
                                    <p>by Professor Tim Noakes</p>
                                    <a href="https://www.amazon.com/Real-Meal-Revolution-Sustainable-Approach/dp/1472135695 " class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="static/img/books/Atkins_Diet_Revolution.jpg" alt="">
                                </div>
                                <div class="blog__item__text">
                                    
                                    <h3>Dr. Atkins' Diet Revolution</h3></br>
                                    <p>by Robert C. Atkins</p>
                                    <a href="https://www.amazon.com/Dr-Atkins-Diet-Revolution-Robert/dp/0553271571/ref=zg_bs_10924661_8?_encoding=UTF8&psc=1&refRID=PT0DFT28HNG5ZHWEZQS2" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
						<div class="col-lg-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="static/img/books/550recipes.jpg" alt="">
                                </div>
                                <div class="blog__item__text">
                                    
                                    <h3>Keto Diet Cookbook For Beginners: 550 Recipes For Busy People on Keto Diet</h3></br>
                                    <p>by Elizabeth Cunningham</p>
                                    <a href="https://www.amazon.com/dp/1792145454?linkCode=ogi" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
						<div class="col-lg-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="static/img/books/lowCarbHighFat.jpg" alt="">
                                </div>
                                <div class="blog__item__text">
                                    
                                    <h3>Low Carb, High Fat Food Revolution: Advice and Recipes to Improve Your 
									Health and Reduce Your Weight</h3></br>
                                    <p>by Andreas Eenfeldt</p>
                                    <a href="https://www.amazon.com/Low-Carb-High-Food-Revolution/dp/1510713875" class="blog_read_more">READ MORE<span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
						<div class="col-lg-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="static/img/books/ketoForBeginners.jpg" alt="">
                                </div>
                                <div class="blog__item__text">
                                    
                                    <h3>Keto Diet for Beginners 2021: The Ultimate Ketogenic Diet Guide for Weight 
									Loss with 21-Day Meal Plan, Delicious and esay recipes</h3></br>
                                    <p>by katrina williams</p>
                                    <a href="https://www.amazon.com/Keto-Diet-Beginners-2021-Ketogenic-ebook/dp/B08ZKY2LFR/ref=zg_bs_15248576011_39?_encoding=UTF8&psc=1&refRID=FV79TZC0DXVE9KEV2A0G" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
					
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <section class="footer">
        <div class="container">
			<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        
        </div>
       
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/jquery.barfiller.js"></script>
    <script src="static/js/jquery.slicknav.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>