<!DOCTYPE html>
<html lang="zxx">

<head>



    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Css Styles -->
    <link href="{{url_for('static', filename = 'bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'elegant-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'nice-select.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'barfiller.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'slicknav.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'main.css')}}" rel="stylesheet">

     <!-- Icons font CSS-->
    <link href="{{url_for('static', filename = 'vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet">


    <link href="{{url_for('static', filename = 'vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet">

    <!-- Font special for pages-->


    <!-- Vendor CSS-->
    <link href="{{url_for('static', filename = 'vendor/select2/select2.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'vendor/datepicker/daterangepicker.css')}}" rel="stylesheet">

    <link href="{{url_for('static', filename = 'vendor/select2/select2.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'vendor/datepicker/daterangepicker.css')}}" rel="stylesheet">

    <!-- Main CSS-->

     <link href="{{url_for('static', filename = 'main.css')}}" rel="stylesheet" media="all">



    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" />



</head>
{% block body %}
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
   
    <div class="offcanvas-menu">
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="static/img/logo1.jpg" alt=""></a>
		</div>     
        <nav class="header__menu">
            <ul class="mobile-menu">
                <li class="active"><a href="./index.html">About</a></li>
                <li><a href="./ketoScience.html">Keto science</a></li>
                <li><a href="recipes.html">Recipes</a></li>
                <li><a href="./ketoPlan.html">Keto plan</a></li>
                <li><a href="./books.html">Books</a></li>
                {% if session['loginSuccess'] == True %}
                <li><a href="./recommendations.html">Recommendations</a></li>
                {% endif %}
                {% if session['loginSuccess'] == True %}
                <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
                {% else %}
                <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
                {% endif %}
                
            </ul>
        </nav>
       
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__logo">
                            <a href="./index.html"><img src="static/img/logo1.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        
                    </div>
                </div>
                <div class="canvas__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="./index.html">About</a></li>
                                <li><a href="./ketoScience.html">Keto science</a></li>
                                <li><a href="recipes.html">Recipes</a></li>
								<li><a href="./ketoPlan.html">Keto plan</a></li>
                                <li><a href="./books.html">Books</a></li>
                                {% if session['loginSuccess'] == True %}
                                <li><a href="./recommendations.html">Recommendations</a></li>
                                {% endif %}
                                {% if session['loginSuccess'] == True %}
                                    <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                   
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
                        {%with messages = get_flashed_messages()%}

                         {%if messages%}

                            {% for message in messages %}

                             <div class="alert alert-success alert-dismissable" role="alert">

                             <button type="button" class="close" data-dismiss="alert" aria-label ="close">

                               <span aria-hidden="true">&times;</span>

                             </button>
                            {{message}}


                            </div>


                        {%endfor%}
                        {%endif%}
                        {%endwith%}
    <!-- Appoinment Section Begin -->
    <section class="appointment">
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Login</h2>
                </div>
                <div class="card-body">
                    <form action="/login" method="POST">
                        <div class="form-row">
                            <div class="name">username</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="username" name="username">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="password">
                                </div>
                            </div>
                        </div>
                   						
                        <div class="section-title">
                            <button class="btn btn--radius-2 btn--red" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>
    </section>
    <!-- Appoinment Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        
    </section>
    <!-- Testimonial Section End -->

    <!-- Footer Section Begin -->
    <section class="footer">
        <div class="container">
			<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        
        </div>
       
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/jquery.barfiller.js"></script>
    <script src="static/js/jquery.slicknav.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
{% endblock %}
</html>